/*BITONE FONT*/
@font-face{
    font-family: Bitone;
    src: url(https://raw.githack.com/Freethepizza/bitone/master/Bitone1b.ttf);
}
/*BITONE FONT*/


/*BITWEEN FONT*/
@font-face{
    font-family: Bitween;
    src: url(https://raw.githack.com/Freethepizza/bitween/master/bitween.ttf);
}
/*BITWEEN FONT*/
